{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon -->
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="apple-touch-icon" href="{{ base_path }}/images/favicon-192x192.png"/>
<link rel="icon" href="{{ base_path }}/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- footer styling -->
<style>
.site-footer-minimal {
  text-align: right;
  font-size: 0.75em;
  color: #aaa;
  padding: 1em 1em 0.5em 1em;
  margin-top: 2em;
  clear: both;
  position: static;
}
</style>

<!-- end custom head snippets -->
