---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find a full list of my publications on <a href="https://scholar.google.com/citations?user=KLQGW44AAAAJ&hl=en">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

## Selected journal publications
<hr />

{% for post in site.publications reversed %}
  {% if post.category == "journal" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

